@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../public/images/dark_wooden.jpg');
  background-color: #202026;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  padding: 10px;
}

header h3 {
  display: inline-block;
  position: relative;
  bottom: 12px;
}

header a:hover {
  color: #81f9ff !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 768px;
  height: 100vh;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60%;
  padding: 20px;
  background-image: url(../public/images/shopping-cart.jpg);
  background-position: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 15px 15px 15px 1px #000;
  overflow: auto;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  height: 70%;
  box-shadow: 15px 15px 15px 1px #000;
}

.nav .child {
  background-color: #000000;
  height: 100%;
  overflow: hidden;
}
.child img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: 1s;
}

.child img:hover {
  transform: scaleX(1.1);
  filter: none;
}

.child:nth-child(3) {
  grid-column: 1/3;
}

.card {
  background-color: #fff;
  color: transparent;
  text-shadow: 0 0 #333;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 1rem;
  margin: 8px 0;
  position: relative;
  box-shadow: 1px 1px 0px #000;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.card .text-display {
  font-weight: 600;
  text-align: center;
  cursor: default;
}

.card.task-completed {
  color: transparent;
  text-shadow: 0 0 rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: line-through 3px rgb(255, 0, 0);
  transition: 0.4s ease-in-out;
}

.stats {
  margin-top: 2rem;
  padding: 0 10px;
  color: #333;
  font-weight: bold;
}

.num-display {
  position: relative;
  background: gold;
  color: transparent;
  text-shadow: 0 0 rgb(0, 0, 0);
  min-width: 2.8rem;
  text-align: center;
  font-size: 1rem;
  box-shadow: 1px 1px 0px #000;
  cursor: default;
}

form {
  display: flex;
  justify-content: center;
}

form button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition: 1s ease;
  border-radius: 50%;
  cursor: pointer;
}

form button:hover {
  opacity: 0.7;
}

.message {
  color: red;
  margin: 0 0 2rem 10px;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  border-radius: 8px;
  transition: 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
div.input-group > input[list] {
  flex-grow: 2;
}

input[name='amount'],
select[name='unit'] {
  width: 15%;
}

input,
select {
  padding: 12px;
  margin-right: 5px;
  font-size: 1rem;
  border-radius: 8px;
}

input:focus {
  outline: none;
}

.feedback-stats {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-display {
  position: absolute;
  top: 5px;
}

.close,
.edit {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 3px;
}

.edit {
  right: 3.6rem;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 6.25rem;
  height: 2.5rem;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
  margin-top: 2rem;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link a {
  color: #fff;
  cursor: pointer;
}

.about-link a:hover {
  color: #ff6a95;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}

@media (max-width: 768px) {
  header svg {
    height: fit-content;
    width: 2rem;
  }
  header h3 {
    bottom: 6px;
  }
  .child img {
    filter: none;
  }
  .container {
    width: 98vw;
  }

  .input-group {
    flex-direction: column;
    align-items: flex-start;
  }
  input[name='amount'],
  select[name='unit'] {
    width: 6.25rem;
  }
  div.input-group > input[list] {
    width: 12.6rem;
  }
}
